<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span
      >Hom much did you spent
      <input type="text" id="name" [(ngModel)]="name" />?
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="spacer"
      >I've spent <input type="number" id="price" [(ngModel)]="price" /> for
      <input
        type="text"
        id="productOrService"
        [(ngModel)]="productOrService"
      /> </span
    ><button mat-flat-button color="basic">Add</button>
  </mat-toolbar-row>
</mat-toolbar>
